# Dependencias de Node.js 
node_modules/

# Archivos con variables de entorno 
.env
.env.local
.env.development
.env.production

# Archivos de sistema de macOS y Windows 
.DS_Store
Thumbs.db

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*