:root {
  --react-blue: #61DAFB;
  --react-dark: #20232A;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f8f9fa;
}

.btn-tempus {
  background-color: var(--react-dark);
  border-color: var(--react-dark);
  color: var(--react-blue);
  font-weight: 600;
}

.btn-tempus:hover {
  background-color: #2d3748;
  border-color: #2d3748;
  color: var(--react-blue);
}

.btn-tempus {
  background-color: var(--react-dark);
  border-color: var(--react-dark);
  color: var(--react-blue);
  font-weight: 600;
}

.btn-tempus:hover {
  background-color: #2d3748;
  border-color: #2d3748;
  color: var(--react-blue);
}


.tarjeta-clima {

  padding: 24px;


  margin: 30px auto;


  max-width: 350px;
  border-radius: 16px;
  text-align: center;
}


.temperatura {
  margin-top: 10px;
  margin-bottom: 16px;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #007bff; 
  animation: girar 1s linear infinite;
  margin: 30px auto; 
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}